<div *ngIf="post" class="post position-relative">
  <div class="post-badges">
    <ng-container *ngFor="let badge of post.badges">
      <span class="post-badges-icon">
        <i class="{{ badge }}" [style.zoom]="0.9"></i>
      </span>
    </ng-container>
  </div>
  <div>
    <div
      class="post-header d-flex justify-content-between position-relative pl-4"
    >
      <span class="timeline-dot position-absolute d-inline-block"></span>
      <div class="post-header-meta">
        <a href="#">
          <img
            class="user-icon round"
            [src]="'../../../../assets/images/users-profile-icon.png'"
            alt="User icon"
          />
        </a>
        <h3 class="post-header-meta-user">
          <a class="post-header-meta-user-name" href="#">{{
            post?.username
          }}</a>
          <br />
          <span class="post-header-meta-user-time"
            >{{ post?.timeAgo }} hours ago</span
          >
        </h3>
      </div>
      <button class="dot-icon">
        <i class="fas fa-ellipsis-h"></i>
      </button>
    </div>
    <div class="post-body pl-4 pt-5">
      <h4 class="font-weight-bold mb-3">{{ post.title }}</h4>
      <p [innerText]="post.body"></p>
    </div>
  </div>
  <div class="pt-4 mt-4 border-top">
    <actions
      [post]="post"
      (commentState)="commentsVisibility = $event"
    ></actions>
  </div>
  <div *ngIf="commentsVisibility" class="border-top pt-4 mt-4">
    <ng-container *ngFor="let comment of post.comments">
      <comment [comment]="comment"></comment>
    </ng-container>
  </div>
</div>
